<h2 class="text-xl mt-4 font-bold">3 Bar Leg Stretcher Adjustable Split Stretching Machine Stainless Steel Home Yoga Dance Exercise Flexibility Training Equipment</h2>

<p class="mt-4 font-bold">Specification:</p>

<p class="mt-4">Material: Stainless Steel + Foam Handle Color: As the picture show Shortest length:58cm/21.8" Longest length:100cm/39.3"</p>

<p class="mt-4 font-bold">Package Includes:</p>

<p class="mt-4">You can choose 1 x Split Leg Extension Machine Or 1 x Split Leg Extension Machine +1 x Tied Rope+2 x Replaceable foam handle</p>

<p class="mt-4 font-bold">Note:</p>

<p class="mt-4">1.Please allow 1-2cm errors due to manual measurement.</p>
<p class="mt-4">2.Due to the difference between different monitors, the pictures may not reflect the actual color of the item.</p>

<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/1.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/2.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/3.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/4.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/5.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/6.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/7.webp" class="rounded-lg mt-4" alt="Push-Up Board">
<img src="/img/products/iron-leg-stretcher-3-bar-legs-extension-split-machine/description/8.webp" class="rounded-lg mt-4" alt="Push-Up Board">

<p class="mt-4 font-bold">Note:</p>

<p class="mt-4">1.Light shooting and different displays may cause the color of the item in the picture a little different from the real thing. The measurement allowed error is +/- 1-3cm.</p>
<p class="mt-4">2.It is normal that silicone products may have some odor since vulcanizer (a kind of catalyst which plays an important role in the molding process) is added to the raw material to make the finished products more flexible. Generally, most of the vulcanizer will volatile after the shaping, and the residue will be gone within few days. (The vulcanizer will do no harm to people's health)</p>
<p class="mt-4">A small tip to remove the odor: keep the product in the saltwater for about half an hour, wash and dry it, the odor will disappear then.</p>

<p class="mt-4 font-bold">Pls note:</p>
<p class="mt-4">1.If you still have any questions on the payment, Feel free to contact us.</p>
<p class="mt-4">2.We will send the items within 1-4 days once system confirms buyers payment.</p>
<p class="mt-4">3. If yo u want to choose express to shipping it, Pls contact us to change the shipping fee. (Such as, EMS, DHL, Fedex, TNT, SF)</p>

<p class="mt-4 font-bold">Return & Refund</p>
<p class="mt-4">1.We will refund buyers if buyers return the items within 15 days of buyers receipt of the items for any reason. However,the buyers should bear the return shipping freight and make sure that the items returned are in their original conditions.</p>
<p class="mt-4">2. Items the buyer received is not as described, returns accepted or keep the item and reach an agreement with the seller on the refund amount.</p>
