{
    "plugins": ["prettier-plugin-tailwindcss"],
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 300,
    "bracketSameLine": true,
    "singleAttributePerLine": false
  }
  