<section id="hero" class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row">
  <article class="sm:w-1/2">
    <h2 class="max-w-md text-center text-4xl font-bold text-slate-900 sm:text-left sm:text-5xl dark:text-white">
      Home Fitness Solutions.<br />
      <span class="text-indigo-700 dark:text-indigo-300">Upgrade Your Body</span>
      Now!
    </h2>
    <p class="mt-4 max-w-md text-center text-2xl text-slate-700 sm:text-left dark:text-slate-400">Create a healthier version of yourself with our exercise equipment!</p>
    <p class="mt-4 max-w-md text-center text-2xl text-slate-700 sm:text-left dark:text-slate-400">
      <a href="#products" class="inline-block rounded bg-lime-500 px-4 py-2 font-bold text-white hover:bg-lime-600 active:bg-lime-400">SHOP NOW</a>
    </p>
  </article>
  <img class="w-1/2" src="/img/theme/hero.png" alt="Rocket Dab" />
</section>
