<section id="about" class="widescreen:section-min-height tallscreen:section-min-height my-12 flex scroll-mt-16 flex-col items-start justify-center gap-8 p-6 sm:flex-row">
  <img class="sm:w-1/3 md:w-1/2 rounded-2xl" src="/img/theme/about.webp" alt="About HelsiFit" />
  <article class="sm:w-2/3 md:w-1/2">
    <h2 class="max-w-md text-center text-4xl font-bold text-slate-900 sm:text-left sm:text-5xl dark:text-white">
      <span class="text-indigo-700 dark:text-indigo-300">About HelsiFit</span>
    </h2>
    <p class="mt-4 max-w-md text-center text-2xl text-slate-700 sm:text-left dark:text-slate-400">At HelsiFit Fitness Store, we're dedicated to simplifying your path to a healthier, more active lifestyle. We believe in quality over quantity, offering meticulously selected exercise equipment to help you achieve your fitness goals efficiently at home.</p>
    <p class="mt-4 max-w-md text-center text-2xl text-slate-700 sm:text-left dark:text-slate-400">At our fitness store, we're more than just a business; we're a product of our own passion for fitness. We're not just store owners; we're constant fitness practitioners who have developed our own way of achieving efficient workouts at home. With our personal experiences and dedication, we understand the needs and challenges of those on their fitness journey. We are proud to share our knowledge and carefully curated equipment with you, so you too can experience the transformative power of our approach to home fitness.</p>
  </article>
</section>